.carousel-indicator-btn {
    background-color: lightblue !important;;
}
.carousel-indicator-btn.active{
    background-color: blue !important;;
}

.carousel-item-image{
    width: 250px;
    height: 200px;
}

.carousel-control-btn {
    background-color: rgb(14, 189, 58) !important;;
}