<div class="modal-header">
    <h2 class="modal-title">Register</h2>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
</div>
<div class="modal-body">

    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && registerForm.get('firstName')!.errors }" />
            <div *ngIf="submitted && registerForm.get('firstName')!.errors" class="invalid-feedback">
                <div *ngIf="registerForm.get('firstName')!.hasError('required')">First Name is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && registerForm.get('lastName')!.errors }" />
            <div *ngIf="submitted && registerForm.get('lastName')!.errors" class="invalid-feedback">
                <div *ngIf="registerForm.get('lastName')!.hasError('required')">Last Name is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="emailForm">Email</label>
            <input type="email" formControlName="emailForm" class="form-control" email="true" [ngClass]="{ 'is-invalid': submitted && registerForm.get('emailForm')!.errors }" />
            <div *ngIf="submitted && registerForm.get('emailForm')!.errors" class="invalid-feedback">
                <div *ngIf="registerForm.get('emailForm')!.hasError('required')">Email is required</div>
                <div *ngIf="registerForm.get('emailForm')!.hasError('email')">Email not valid.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && registerForm.get('username')!.errors }" />
            <div *ngIf="submitted && registerForm.get('username')!.errors" class="invalid-feedback">
                <div *ngIf="registerForm.get('username')!.hasError('required')">Username is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && registerForm.get('password')!.errors }" />
            <div *ngIf="submitted && registerForm.get('password')!.errors" class="invalid-feedback">
                <div *ngIf="registerForm.get('password')!.hasError('required')">Password is required</div>
                <div *ngIf="registerForm.get('password')!.hasError('minlength')">Password must be at least 6 characters</div>
            </div>
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': (submitted && registerForm.get('confirmPassword')!.errors) || submitted && registerForm.errors }" />
            <div *ngIf="submitted && registerForm.get('confirmPassword')!.errors" class="invalid-feedback">
                <div *ngIf="registerForm.get('confirmPassword')!.hasError('required')">Confirm Password is required</div>
            </div>
            <div *ngIf="submitted && registerForm.errors" class="invalid-feedback">
                <div *ngIf="registerForm.hasError('notSame')">Confirm Password must be the same as Password</div>
            </div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Register
            </button>
            <a (click)=this.loginLinkClicked() class="btn btn-link">Go back to Login</a>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>