<div class="d-flex" id="wrapper">
  <!-- Sidebar-->
  <div class="border-end bg-white" id="sidebar-wrapper">
      <div id="userLabel" class="sidebar-heading border-bottom bg-light">Welcome {{ this.userName }}</div>
      <div class="list-group list-group-flush" (click) = this.itemClicked($event)>
        <a class="list-group-item list-group-item-action list-group-item-light active p-3" data-toggle="assistant-profile" href="#!">Assistant Profile</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" data-toggle="manage-plugins" href="#!">Manage Plugins</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Account Profile</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Settings</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!" [hidden]="this.loggedIn" (click) = this.openLoginModal()>Login/Register</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!" [hidden]="!this.loggedIn" (click) = this.logout()>Logout</a>
      </div>
  </div>
</div>

