.draggable-area{
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color:transparent;
  color:white;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}
