.draggable-area{
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color:transparent;
  color:white;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}
#systembar {
  max-width: fit-content; 
}

#notification-container{
  padding: 5px 5px 5px 5px;
  background-color: lightblue;
  border-style: dashed;
  border-width: 1px;
  max-height: 200px;
  overflow: auto;
}

#notification-message{
  background: wheat;
  padding: 10px 10px 10px 10px;

  display: inline-block;
  width: fit-content;
  block-size: fit-content;
  border-radius: 25px
;
}