<div class="container-fluid">
  <div class="row flex-nowrap">
    <app-sideview
    class="left-side order-1 p-3 col-4"
    ></app-sideview>
    <app-assistant-profile
    class="order-2 p-3 col-8"
    ></app-assistant-profile>
  </div>
</div>

<div class="container-fluid flex-nowrap">
  <div *ngFor="let buckyProfileSample of buckyProfileIds | keyvalue">
    <app-bucky-profile-sample  
    class="p-3"
    [buckyProfileId]=buckyProfileSample.value
    ></app-bucky-profile-sample>
  </div>
  
</div>


