
.app-bucky-profile-sample-instance > img {
    border: 5px solid #555;
}

.app-bucky-profile-sample-instance.selected-bucky-profile > img {
    border: 5px solid green;
}

.app-bucky-profile-sample-wrapper {
    position: relative;

}
.choose-btn {  
    margin: 0;
    position: absolute;
    top: 90%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: none;
}

.app-bucky-profile-sample-instance:hover + .choose-btn, .choose-btn:hover {
    display: inline-block;
  }
