<div class="container-fluid">
  <div class="row flex-nowrap">
    <app-sideview
    class="left-side order-1 p-3 col-4"
    ></app-sideview>
    <div class="order-2 col-8">
      <app-assistant-profile
      class="order-2 p-3 col-8"
      ></app-assistant-profile>
      <div class="d-flex flex-wrap">
        <div *ngFor="let buckyProfileSample of buckyProfileIds | keyvalue">
          <app-bucky-profile-sample
          [buckyProfileId]=buckyProfileSample.key
          class="app-bucky-profile-sample-instance" [ngClass] = "{ 'selected-bucky-profile': buckyProfileSample.value }"
          ></app-bucky-profile-sample>
        </div>
      </div>
    </div>
  </div>
</div>




